.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 25px;
}
#finn {
  background: rgb(184, 180, 190);
  color: #151A48;
  width: 400px;
}
#jake {
  background: #151A48;
  color: #fff;
  width: 400px;
}
.img-thumbnail{
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* float: left;
  overflow: hidden; */
}