@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
/* *{
  margin: auto;
  padding: 0;
  font-family: roboto;
} */

div.stars{
  max-width: 270px;
  margin-right: 6%;
}

input.star{
  display: none;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content:'\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-4:checked ~ label.star:before {
  color:#FE7;
  text-shadow: 0 0 20px #952;
  margin: auto;
}

input.star-1:checked ~ label.star:before {
  color: #F62;
}

label.star:hover{
  transform: rotate(-15deg) scale(1.3);
}

label.star:before{
  content:'\f006';
  font-family: FontAwesome;
}
